<%- include('partials/head.ejs') %>
    <div class="lg:flex lg:h-screen">
        <div class="lg:w-1/5">
            <div id="desktop-menu"></div>
        </div>
        <div class="lg:mx-auto lg:mt-8 lg:mb-64 lg:w-3/5">
            
            <div class="container bg-white rounded-xl shadow-md p-4 px-6 mx-auto mb-4">
                <h1 class="font-bold text-4xl">Modificar campos de producto</h1>
                <h3 class="text-gray-500 text-xl my-4 mb-8">Seleccione un campo de producto</h3>
                <div class="text-white font-bold text-xl text-center sm:text-2xl grid grid-cols-2 gap-4 my-4">
                    <a href="/productos/marcas" class="block bg-yellow-500 hover:bg-yellow-400 rounded-2xl py-4">
                        <i class="fas fa-grip-horizontal"></i><br>
                        <span>Marcas</span>
                    </a>
                    <a href="/productos/proveedores" class="block bg-yellow-500 hover:bg-yellow-400 rounded-2xl py-4">
                        <i class="fas fa-dolly-flatbed"></i><br>
                        <span>Proveedores</span>
                    </a>
                    <a href="/productos/secciones" class="block bg-yellow-500 hover:bg-yellow-400 rounded-2xl py-4">
                        <i class="fas fa-archive"></i><br>
                        <span>Secciones</span>
                    </a>
                    <a href="/productos/categorias" class="block bg-yellow-500 hover:bg-yellow-400 rounded-2xl py-4">
                        <i class="fas fa-th-list"></i><br>
                        <span>Categorías</span>
                    </a>
                    <a href="/productos/medidas-venta" class="block col-span-2 bg-yellow-500 hover:bg-yellow-400 rounded-2xl py-4">
                        <i class="fas fa-balance-scale-left"></i><br>
                        <span>Medidas de venta</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
<%- include('partials/foot.ejs') %>