<%- include('partials/head.ejs') %>
    <div class="lg:flex lg:h-screen">
        <div class="lg:w-1/5">
            <div id="desktop-menu"></div>
        </div>
        <div class="lg:mx-auto lg:mt-8 lg:mb-64 lg:w-3/5">
            <div id="proveedores-view"></div>
        </div>
    </div>
<%- include('partials/foot.ejs') %>